body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px 50px;
    justify-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.inventory-summary {
    background-color: #e1e1e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid black;
}

#inventoryValue {
    font-weight: bold;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0088cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #00699e;
}

#productTable {
    font-size: 1.5em;
    width: 80%;
}

#productTable th {
    text-align: left;
}

#productTable th, td {
    border: 1px solid black;
    margin: 20px;
}