body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

#productTable {
    border: 1px solid green;
    font-size: 1.5em;
    justify-content: center;
}

#productTable th, td {
    border: 1px solid black;
    margin: 20px;
}